VITE_FIREBASE_API_KEY=AIzaSyAUSkHUlylBqjHN_t4D9Z4ySly9W2cJSyw
VITE_FIREBASE_AUTH_DOMAIN=ptitvestiaire-40da8.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=ptitvestiaire-40da8
VITE_FIREBASE_STORAGE_BUCKET=ptitvestiaire-40da8.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=126070976378
VITE_FIREBASE_APP_ID=1:126070976378:web:3edc5f29d3d1929d6db0c3
VITE_ALLOWED_EMAILS=zemouri.m@gmail.com,imanekhemici@gmail.com

